.entete {
  background-color: blanchedalmond;
  padding: 3px 10px 0 10px;
  &__contenu {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 75px;
    height: 75px;
  }
  &__nav {
    margin: 0 1rem 0 auto;
    align-content: center;
  }
  &__menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
  &__menu-item {
    a {
      text-align: center;
      display: block;
      background-color: beige;
      &:hover {
        background-color: rgb(233, 227, 177);
      }
    }
  }
}
