.entete {
    &__contenu {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 2rem; 
    }

    &__logo {
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav {
        display: flex;
        list-style-type: none;
        gap: 1rem;
        padding: 0 20px;
        background-color: beige;
    }

    &__menu-item {
        a {
            display: block;
            padding: 0.5rem;
            &:hover {
                background-color: bisque;
            }
        }
    }
}
