// -------------------- Entete --------------------
.chk__menu {
  display: none;
}
.chk__menu:checked ~ .entete__nav {
  display: block;
  .entete__menu {
    flex-direction: column;
  }
}

.entete {
  background-color: rgba(205, 237, 255, 0.639);
  padding: 3px 10px 0 10px;
  &__contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $point-rupture) {
      display: block;
    }
  }
  &__logo {
    width: 75px;
    height: 75px;
  }
  &__nav {
    margin: 0 1rem 0 auto;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-end;
    @media screen and (max-width: $point-rupture) {
      display: none;
      margin: 0 auto;
    }
  }

  &__burger {
    display: none;
    @media screen and (max-width: $point-rupture) {
      display: block;
    }
  }

  &__menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
  &__menu-item {
    a {
      text-align: center;
      display: block;
      text-decoration: none;
      padding: 3px;
      background-color: rgba(205, 237, 255, 0.998);
      &:hover {
        background-color: rgba(177, 222, 246, 0.998);
      }
    }
  }
}
