// -------------------- Hero --------------------

.hero {
  background-image: url("images/acores.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__titre {
    margin-bottom: 20px;
  }
  &__description {
    margin-bottom: 5px;
  }
  &__bouton {
    padding: 10px;
    background-color: rgba(139, 219, 219, 0.687);
    text-decoration: none;
    color: black;
    transition: ease-in-out 400ms;
  }
  &__bouton:hover {
    background-color: rgba(139, 219, 219, 0.913);
    color: rgb(24, 0, 81);
    text-decoration: underline;
  }
}
