// -------------------- Recherche --------------------

.recherche {
  display: flex;
  align-items: center;
  &__input {
    border: 1px solid #aaa;
    padding: 5px;
    margin-right: 5px;
    outline: none;
  }
  &__bouton {
    border-left: 1px solid #aaa;
  }
}
