// -------------------- Recherche --------------------

.recherche {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: end;
  &__input {
    border: 1px solid #aaa;
    padding: 5px 10px;
    margin-right: 5px;
    outline: none;
  }
  &__bouton {
    border-left: 1px solid #aaa;
  }
  @media screen and (max-width: $point-rupture) {
    flex-grow: 1;
    margin: 1rem 0;
    justify-content: center;
    .recherche__input {
    }
  }
}
